@model AdminProfileEditVm

<form asp-controller="Profile" asp-action="EditRole" asp-route-username="@Model.ProfileRoleEditVm.Username" class="mt-5">
  <div class="form-group">
    <label asp-for="ProfileRoleEditVm.Role" class="control-label"></label>
    <div class="input-group">
      <select asp-for="ProfileRoleEditVm.Role" asp-items="Model.ProfileRoleEditVm.Roles" class="form-control"></select>
      <button type="submit" class="btn btn-warning input-group-btn ml-2">Update Role</button>
    </div>
    <span asp-validation-for="ProfileRoleEditVm.Role" class="text-danger bg-light"></span>
  </div>
</form>
@if (Model.ProfileBlockVm.BlockedBy == null) {
  <form asp-controller="Profile" asp-action="Block" asp-route-username="@Model.ProfileBlockVm.Username">
    <div class="form-group">
      <label asp-for="ProfileBlockVm.BlockedEnd" class="control-label"></label>
      <div class="input-group">
        <input asp-for="ProfileBlockVm.BlockedEnd" class="form-control" />
        <button type="submit" class="btn btn-warning input-group-btn ml-2">Block User</button>
      </div>
      <span asp-validation-for="ProfileBlockVm.BlockedEnd" class="text-danger bg-light"></span>
    </div>
  </form>
  <br />
  <div class="btn-group">
    <a asp-controller="Profile" asp-action="Delete" class="btn btn-danger" asp-action-username="@Model.ProfileBlockVm.Username">Delete profile</a>
  </div>
} else {
  <br />
  <div class="btn-group">
    <a asp-controller="Profile" asp-action="Unblock" asp-route-username="@Model.ProfileBlockVm.Username" class="btn btn-warning btn-sm">Un-block User</a>
    <a asp-controller="Profile" asp-action="Delete" class="btn btn-danger" asp-action-username="@Model.ProfileBlockVm.Username">Delete profile</a>
  </div>
}

@section scripts {
  <partial name="_ValidationScriptsPartial" />
}
