@model AccountDetailsVm
@{
  ViewBag.Title = "Account Details";
}

<div class="container">
  <div class="col-12 rounded my-5 bg-secondary p-5 text-light">
    <h1>Account Details</h1>
    <br />
    <fieldset disabled>
      <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
      </div>
      <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
      </div>
      <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
      </div>
      <div class="form-group">
        <label asp-for="Birthdate" class="control-label"></label>
        <input asp-for="Birthdate" class="form-control" />
      </div>
    </fieldset>
    @if (Model.IsAuthorizedForAccountEdit) {
      <div class="btn-group">
        <a asp-controller="Account" asp-action="EditAccount" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-warning">Edit Account</a>
        <a asp-controller="Account" asp-action="EditPassword" asp-route-username="@User.Identity.Name" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-danger">Change Password</a>
      </div>
    }
    <br />
    <div class="btn-group float-right">
      @if (@ViewBag.FromProfile) {
        <a asp-controller="Profile" asp-action="Details" asp-route-username="@Model.UserName" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-primary">Back</a>
      } else {
        <a href="@ViewBag.ReturnUrl" class="btn btn-primary">Back</a>
      }
    </div>
  </div>
</div>