@model PostsIndexVm
@{
  ViewBag.Title = @Model.ThreadText;
}
<div class="container-fluid">
  <div class="col-md-12">
    <div class="row">
      <h3 class="text-light">@Model.ThreadText</h3>
      <div class="my-auto ml-3">
        @await Component.InvokeAsync("ThreadOptions", @Model.ThreadId)
      </div>
    </div>
  </div>
  @if (Model.IsAuthorizedForPostCreate) {
    <div class="col-md-12 py-3">
      <div class="row">
        <a asp-controller="Post" asp-action="Create" class="btn btn-primary">Add new post</a>
      </div>
    </div>
  }
  <nav>
    <ol class="breadcrumb bg-secondary">
      <li class="breadcrumb-item">
        <a asp-controller="Topic" asp-action="index" class="light">Forum</a>
      </li>
      <li class="breadcrumb-item">
        <a asp-controller="Thread" asp-action="index" asp-route-topicId="@Model.TopicId" class="light">@Model.TopicText</a>
      </li>
      <li class="breadcrumb-item active">
        <a asp-controller="Post" asp-action="index" class="light">@Model.ThreadText</a>
      </li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-dark">
        @foreach (var post in Model.Posts) {
          <tr id="@post.PostId">
            <td>
              <p>@post.PostText</p>
            </td>
            <td><a asp-controller="Profile" asp-action="Details" asp-route-username="@post.CreatedBy" class="light">@post.CreatedBy</a></td>
            <td>@post.CreatedOn</td>
            <td>
              @await Component.InvokeAsync("PostOptions", post.PostId)
            </td>
          </tr>
        }
      </table>
    </div>
  </div>
</div>

@section footer {
  @await Component.InvokeAsync("Footer")
}
