@model PostUnlockVm

@{
  ViewBag.Title = "Unlock Post";
}

<div class="container">
  <div class="col-12 rounded my-5 bg-secondary p-5 text-light">
    <h1>Unlock Post</h1>
    <br />
    <div class="row">
      <div class="col-6">
        <p>Created by: @Model.CreatedBy</p>
        <p>Created on: @Model.CreatedOn</p>
        </div>
      <div class="col-6">
        <p>Locked by: @Model.LockedBy</p>
        <p>Locked on: @Model.LockedOn</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <fieldset disabled>
          <label asp-for="PostText" class="control-label"></label>
          <textarea asp-for="PostText" rows="10" class="form-control"></textarea>
        </fieldset>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-12">
        <form asp-controller="Post" asp-action="Unlock" asp-route-returnUrl="@ViewBag.ReturnUrl">
          <div class="btn-group float-right">
            @Html.HiddenFor(m => m.PostId)
            <input type="submit" class="btn btn-warning rounded-left" value="Unlock Post" />
            <a href="javascript:history.back()" class="btn btn-primary">Back</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>