@model ProfileDetailsVm
@{
  ViewBag.Title = "Profile Details";
}

<div class="container">
  <div class="col-12 rounded my-5 bg-secondary p-5 text-light">
    <h1>@Model.Username</h1>
    <br />
    <div class="row">
      <div class="col-4">
        <img class="rounded" src="data:image;base64,@Model.ProfileImage" alt="Profile picture" />
      </div>
      <div class="col-8">
        <div>
          <p>Joined: @Model.CreatedOn</p>
          @if (Model.BlockedBy != null) {
            <p>Blocked on: @Model.BlockedOn</p>
            <p>Blocked by: @Model.BlockedBy</p>
            <p>Blocked ending: @Model.BlockedEnd</p>
          }
          <p>Total threads: @Model.TotalThreads</p>
          <p>Total posts: @Model.TotalPosts</p>
          @if (Model.Roles.Length > 0) {
            <p>Roles: @string.Join(", ", Model.Roles)</p>
          }
        </div>
        <br />
        @if (Model.UserIsOwner) {
          <div class="mt-4 btn-group">
            @if (Model.IsAuthorizedForProfileDelete) {
              <a asp-controller="Profile" asp-action="Delete" asp-route-username="@Model.Username" class="btn btn-danger">Delete Profile</a>
            }
            @if (Model.IsAuthorizedForProfileEdit) {
              <a asp-controller="Profile" asp-action="Edit" asp-route-username="@Model.Username" class="btn btn-warning">Edit Profile</a>
            }
          </div>
        } else if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Moderator) && !Model.UserIsOwner) {
          <div class="btn-group">
            @if (Model.IsAuthorizedProfileChangeRole) {
              <a asp-controller="Profile" asp-action="EditRole" asp-route-username="@Model.Username" class="btn btn-primary btn-sm">Change Role</a>
            }
            @if (Model.IsAuthorizedProfileBlock) {
              if (Model.BlockedBy == null) {
                 <a asp-controller="Profile" asp-action="Block" asp-route-username="@Model.Username" class="btn btn-warning btn-sm">Block</a>
               } else {
                 <a asp-controller="Profile" asp-action="Unblock" asp-route-username="@Model.Username" class="btn btn-warning btn-sm">Unblock</a>
               }
            }
            @if (@Model.IsAuthorizedForProfileDelete) {
              <a asp-controller="Profile" asp-action="Delete" asp-route-username="@Model.Username" class="btn btn-danger btn-sm">Delete User</a>
            }
          </div>
        }
      </div>
    </div>
    <div class="row py-3">
      <div class="col-12">
        <br />
        <div class="btn-group float-right">
          @*TODO: FIX PATH*@
          <a href="@ViewBag.ReturnUrl" class="btn btn-primary">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>