@model List<TopicsIndexPostVm>

<table class="table table-striped table-dark">
  @foreach (var post in Model) {
    <tr>
      <td style="width: 50px;" class="align-middle pr-0">
        <img class="rounded float-left" src="data:image;base64,@post.CreatorProfileImage" alt="Profile picture" style="width: 50px; height: 50px" />
      </td>
      <td class="align-middle">
        <p class="pb-0 mb-0 small"><a asp-controller="Post" asp-action="index" asp-route-threadId="@post.ThreadId" asp-fragment="@post.PostId" class="light">@post.ThreadText</a></p>
        <p class="pb-0 mb-0 small">Last post: <a asp-controller="Profile" asp-action="Details" asp-route-username="@post.LatestCommenter" asp-route-returnUrl="@ViewBag.ReturnUrl" class="light">@post.LatestCommenter (@post.LatestCommentTime)</a></p>
      </td>
    </tr>
  }
</table>