@model TopicsIndexVm
@{
  ViewBag.Title = "Forum Index";
}
<div class="container-fluid">
  <div class="col-12">
    <div class="row">
      <h1>FORUM</h1>
    </div>
  </div>
  <a asp-controller="Topic" asp-action="Create" class="btn btn-primary">Add new topic</a>
  <div class="row">
    <div class="col-8">
      <table class="table table-striped table-dark">
        @foreach (var topic in Model.Topics) {
          <tr>
            <th scope="row">ICON</th>
            <td>
              <a asp-controller="Thread" asp-action="index" asp-route-topicId="@topic.TopicId" class="light">@topic.TopicText</a>
            </td>
            <td>@topic.CreatedBy</td>
            <td>@topic.CreatedOn</td>
            <td>
              <p>Thread Count = @topic.ThreadCount</p>
              <p>Post Count = @topic.PostCount</p>
            </td>
          </tr>
        }
      </table>
    </div>
    <div class="col-4 text-light">

      <h4 class="text-center">Latest Posts</h4>
      @*<table class="table table-striped table-dark">
          @foreach (var post in Model.LatestPosts) {
            <tr>
              <td>
                <a asp-controller="Post" asp-action="index" asp-route-threadId="@post." class="light">@post.ThreadText</a>
              </td>
              <td>@thread.CreatedBy</td>
              <td>@thread.CreatedOn</td>
            </tr>
          }
        </table>*@


      <h4 class="text-center">Latest Threads</h4>
      <table class="table table-striped table-dark">
        @foreach (var thread in Model.LatestThreads) {
        <tr>
          <td>
            <a asp-controller="Post" asp-action="index" asp-route-threadId="@thread.ThreadId" class="light">@thread.ThreadText</a>
          </td>
          <td>@thread.CreatedBy</td>
          <td>@thread.CreatedOn</td>
        </tr>
        }
      </table>

    </div>
  </div>
  <div class="row">
    <div class="col-12 text-light">
      <p>Total members: @Model.TotalMembers</p>
      <p>Newest member: @Model.NewestMember</p>
      <p>Total posts: @Model.TotalPosts</p>
    </div>
  </div>
</div>

