@model ForumManagementStatisticsVm     
<div class="mx-2 rounded bg-secondary text-light h-100">
  <h2 class="p-2 text-center">Statistics</h2>
  <h4 class="p-2 text-center">Overall</h4>
  <ul class="list-group text-dark">
    <a href="#" class="list-group-item list-group-item-action">Users blocked: @Model.BlockedMembersCount</a>
    <a href="#" class="list-group-item list-group-item-action">Topics locked: @Model.LockedTopicsCount</a>
    <a href="#" class="list-group-item list-group-item-action">Threads locked: @Model.LockedThreadsCount</a>
    <a href="#" class="list-group-item list-group-item-action">Posts locked: @Model.LockedPostsCount</a>
        </ul>
        <h4 class="pt-4 pb-2 text-center">Yours</h4>
        <ul class="list-group text-dark">
          <a href="#" class="list-group-item list-group-item-action">Users blocked: @Model.BlockedByUserMembersCount</a>
          <a href="#" class="list-group-item list-group-item-action">Topics locked: @Model.LockedByUserTopicsCount</a>
          <a href="#" class="list-group-item list-group-item-action">Threads locked: @Model.LockedByUserThreadsCount</a>
          <a href="#" class="list-group-item list-group-item-action">Posts locked: @Model.LockedByUserPostsCount</a>
        </ul>
      </div>